name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: 52.66.237.192
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd myapp
            sudo docker-compose down
            sudo docker-compose up -d --build
